
.header {
    background-color: var(--header-color);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left:30px;
    justify-content: space-between;
    padding-right:30px;
}
.logoHeader {
    font-size:20px;
    font-weight:700;
}
.listItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size:19px;
    font-weight:500;
}
.listItem li{
    padding:10px;
}
.listAuth {
    display :flex;
    align-items: center;
    font-size:17px;
    font-weight:500;
    text-decoration: underline;
}
.listAuth li{
    padding:7px;
}